<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<table class="table table-bordered">
    <thead>
    <tr>
        <th scope="col">Yevhenii Deineka</th>
        <th scope="col">3 - 1</th>
        <th scope="col">John Doe</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>8</td>
        <td>Забито шаров:</td>
        <td>6</td>
    </tr>
    <tr>
        <td>4</td>
        <td>Чужие:</td>
        <td>2</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Свояки:</td>
        <td>1</td>
    </tr>
    <tr>
        <td>1</td>
        <td>Штрафы:</td>
        <td>1</td>
    </tr>
    <tr>
        <td>0</td>
        <td>Подставы:</td>
        <td>1</td>
    </tr>
    <tr>
        <td>1</td>
        <td>Дураки:</td>
        <td>1</td>
    </tr>
    <tr>
        <td>Время партии:</td>
        <td>12:32:</td>
        <td>1</td>
    </tr>
    </tbody>
</table>
</body>
</html>
